
<table>
		<tr>
			<th>Code</th>
			<th>Description</th>
			<th>LocationId</th>
			<th>Building Type</th>
			<th>Address Lines</th>
			<th>City</th>
			<th>State</th>
			<th>PostalCode</th>
			<th>Country</th>
			<th>Image Url</th>
			<th>Additional Services</th>
			<th>Building Coordinates</th>
		<tr>
		{{#each this}}

		{{/each}}
	</th>
</table>